/*
breakpoint choices
phone
tab-port
tab-land
big-dt
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 2;
    transform: translate(0); } }

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bottomIn {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 2.8rem; }
  .heading-primary--main {
    border: 10px solid #15222a;
    padding: 2rem;
    line-height: 1.3;
    display: block;
    font-size: 6.5rem;
    font-weight: 500;
    letter-spacing: 0.6rem;
    animation: leftIn 1.50s ease-in-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5.5rem;
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    margin-top: 6px;
    color: #fff;
    background-color: #15222a;
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    animation: rightIn 1.80s ease-out;
    }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  margin-top: 10rem;
  color: rgb(10, 10, 10);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    cursor: pointer;  
    text-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.2); }

    .heading-secondary-portfolio {
      color: rgb(10, 10, 10);
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      border-bottom: 7px double #0e161b;
      background-clip: text;
      -webkit-background-clip: text;
      letter-spacing: 2px;
      transition: all .2s; }
      @media (max-width: 56.25em) {
        .heading-secondary-portfolio {
          font-size: 3rem; } }
      @media (max-width: 37.5em) {
        .heading-secondary-portfolio {
          font-size: 2.5rem; } }
      .heading-secondary-portfolio:hover {
        cursor: pointer;  
        text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary-sm {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary-sm:hover {
    cursor: pointer;  
    transform: skewX(2deg) skewY(1deg);
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-fourth {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all .2s; }
  .heading-fourth:hover {
    cursor: pointer;  
    transform: skewX(2deg) skewY(1deg);
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary1 {
  color: #161513;
  font-size: 2.9rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-tertiary2 {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -25vh;
  margin-bottom: 10vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 4rem; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #536675, #0e161b);
  background-size: cover;
  margin-top: -20rem;
  transform: skewY(-0deg); }
  .section-features > * {
    transform: skewY(0deg); }

.section-tours {
  margin-top: -20rem;
  background-color: #f7f7f7;
  padding-top: 25rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 25rem 0 10rem 0; } }

.btn:link, .btn:visited {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem; }

  .btn-footer:link, .btn-footer:visited {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.4rem; }

.btn:hover {
  cursor: pointer;
  transform: translateY(-0.8rem);
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.21); }

.btn-footer:hover {
  cursor: pointer;
  transform: translateY(-0.8rem);
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.21); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21); }

.btn--white {
  background-color: #15222a;
  border: 1.2px #f3f3f1 solid;
  color: #fff; }

.btn--animated {
  animation: bottomIn 0.85s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px #3c416d solid;
  padding: 3px; }

.btn-text:hover {
  cursor: pointer;  
  background-color: #64495E;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
  transform: translateY(0px); }

.feature-box {
  background-color: #0e161b;
  font-size: 1.5rem;
  padding: 3.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1rem;
      margin: 0 4rem; } }
  .feature-box__icon {
    font-size: 9rem;
    margin-bottom: 0.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.18); }
  .feature-box * {
    list-style: none; }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    -webkit-filter: drop-shadow(1px 1px 2px #222);
    filter: drop-shadow(1px 1px 2px #222);
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    position: absolute; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 28.333333%; } }
    .composition__photo--p1 {
      left: 0;
      top: 0;
      width: 35%; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 0;
          width: 33%; } }
    .composition__photo--p2 {
      left: 66%;
      top: 0;
      width: 35%; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          left: 0;
          width: 33%;
          z-index: 100; } }
    .composition__photo--p3 {
      left: 33%;
      top: 50%;
      width: 35%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          width: 33%; } }
    .composition__photo:hover {
      cursor: pointer;
      transform: scale(1.1) translateY(0.2rem);
      -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
      filter: drop-shadow(1.5px 1.5px 4px #222);
      z-index: 20; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    color: #fff;
    font-size: 2rem;
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1.9rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #f1f1f1; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #3C3D7C, #15222A); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #0A2E36, #4a7a97); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #3C3D7C, #15222A); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #43351d, #c06f14); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #3C3D7C, #15222A); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #3C3D7C, #15222A); }    
  .card:hover .card__side--front {
    cursor: pointer;
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    cursor: pointer;
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-position: center center;
    height: 12rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: url(../images/quiz.jpg); }
    .card__picture--2 {
      background-image: url(../images/twitter2.jpg), linear-gradient(to right bottom, #104a57, #15222A); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #717182, #15222A); }
    .card__picture--4 {
      background-image: url(../images/plan.jpg); }
    .card__picture--5 {
      background-image: linear-gradient(to right bottom, #717182, #15222A); }
    .card__picture--6 {
      background-image: linear-gradient(to right bottom, #717182, #15222A); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 70%;
    line-height: 3.5rem; }
  .card__heading-span--1 {
    background-color: #3C3D7C;
    border-radius: 1rem;  
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
.card__heading-span--2 {
    background-color: #0A2E36;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
.card__heading-span--3 {
    background-color: #3C3D7C;
    border-radius: 1rem; 
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
.card__heading-span--4 {
    background-color: #161513;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
.card__heading-span--5 {
    background-color: #3C3D7C;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
.card__heading-span--6 {
    background-color: #3C3D7C;  
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .card__details {
    padding: 1rem 3rem;
    color: #161513; }
    .card__details ul {
      list-style: none;
      width: 100%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.6rem;
      padding: 0.5rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #0e161b; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__box {
    text-align: center; }
  .card__description {
    font-size: 1.8rem;
    margin-bottom: 1.5rem; }
  .card__svg-icon {
    width: 20%;
    position: absolute;
    left: 5%;
    top: 5%; }
    .card__svg-icon-2 {
      top: -5%;
      left: 5%; }
    .card__svg-icon-3 {
      width: 18%;
      top: 7%;
      left: 7%; }
    .card__svg-icon-4 {
      top: 0%;
      left: -10%;
      width: 30%; }
    .card__svg-icon-5 {
      top: 2%;
      left: -4%;
      width: 25%; }
    .card__svg-icon-6 {
      top: 5%;
      left: 0%;
      width: 35%; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 9px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      margin: 0 3rem; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        cursor: pointer;
        transform: rotateY(0); }
      .card .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__box {
        text-align: center; } }
        
.header {
  height: 95vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header__text-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  max-width: 95rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.footer {
  background-color: #15222A;
  padding: 2rem 0;
  font-size: 1.5rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 2rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    border-radius: 50%;
    width: 94px;
    padding: 1rem;
    height: auto;
    transition: all .3s; }
    .footer__logo:hover {
      cursor: pointer;
      transform: scale(1.6); }
  .footer__navigation {
    border: 1.5px solid #f1f1f1;

    padding: 3.4rem;
    color: #f1f1f1;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__navigation:hover {
    text-transform: scale(1.2);
  }
  .footer__link:link, .footer__link:visited {
    color: #f1f1f1;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .25s; }
  .footer__link:hover, .footer__link:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(0deg) scale(1.2); }
  .footer__copyright {
    border: 1.5px solid #f1f1f1;
    padding: 2rem;
    float: right;
    color: #f3f3f1; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        padding-top: 1rem;
        width: 100%;
        float: none;
        text-align: center; } }

        /* Email Form Styling */
        
        /* The popup form - hidden by default */
        .form-popup {
          display: none;
          position: fixed;
          left: 4px;
          bottom: 4px;
          z-index: 9;
        }
        
        /* Add styles to the form container */
        .form-container {
          max-width: 400px;
          padding: 30px;
          background-color: #0e161b;
          opacity: 0.96;
          border-radius: 10px;
        }
        .email-form {
          color: #f1f1f1;
        }
        
        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=message] {
          width: 100%;
          color: #f1f1f1;
          padding: 15px;
          margin: 5px 0 22px 0;
          border-bottom: 2px solid #f1f1f1;
          border-top: none;
          border-left: none;
          border-right: none;
          background: #0e161b;
        }
        
        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=message]:focus {
          background-color: #0e161b;
          color: #f1f1f1;
          outline: none;
        }
        
        /* Set a style for the submit/login button */
        .form-container .btn {
          background-color: #fff;
          color: #0e161b;
          padding: 16px 20px;
          border-radius: 10rem;
          cursor: pointer;
          width: 100%;
          margin-bottom:10px;
        }
        
        /* Add a red background color to the cancel button */
        .form-container .cancel {
          background-color: #0e161b;
          color: #fff;
        }
        
        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
          cursor: pointer;
          transform: translateY(-0.8rem);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.21); }